/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width:65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.hebergements .card {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.hebergements-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hebergements-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}
.hebergements-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    flex-grow: 1;
}
.hebergements-cards .card-subtitle{
    margin: 0;
}
.hebergements-cards .card-rating{
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
   /* navbar-logo */  
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35px;
}
.navbar_btn {
    border: 2px solid transparent;
}
.navbar_btn:hover {
    border-top-color: var(--main-color);
    color: var(--main-color);
}
header {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    height: auto;
    box-sizing: border-box;
}
nav {
    width: 25%;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    padding: 30px 50px 30px 0px;
}
.logo >img {
    height: 19px;
}
/* search-bar*/
.info-group{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.info-group h1{
    font-size: 22px;
}
.search-bar{
    display: flex;
    max-height: 49px;
    width: 100%;
    border-color: var(--main-bg-color);
    border-width: 1px;
}
.search-form ::placeholder {
    font-size: 16px;
    font-weight: bold;
    color: #000000; 
    opacity: 1;
}
.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
    width: 50px;
    height: 49px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.search-bar i{
    width: 14px;
    height: 18px;
    color: #000000;
}
.search-form button{
    width: 132px;
    height: 49px;
    background-color: var(--main-color);
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    border-color: transparent;
}
.search-form{
    display: flex;
    flex-direction: row;
}
.search-form input{
    text-align: center;
    border-color: var(--main-bg-color);
    border-style: solid;
    border-width: 1px;
}
.search-bar .recherche i {
    display: none;
    color: var(--main-bg-color);
}
/*filterbar*/
.filter{
    display: flex;
    gap: 15px;
}
.filterbar{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}
.filter h2{
    font-size: 18px;
    font-weight: bold;
}
.filterbar button i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; 
    width: 22px;
    height: 22px;
}
.filterbar button{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-size: 17px;
    font-weight: bold;
    padding: 0px 17px 0px 17px;
}
.filterbar button:hover{
    background-color: #DEEBFF;
}
.infobar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}
.infobar i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    border: 1px solid #DEEBFF;
    flex-shrink: 0;
}

/* Section Activité à Marseille */
.activites {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding:30px;
}
.activites-card img{
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.activites-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}
.activites-card a {
    flex: 1 1;
}
.activites-card .card{
    padding: 0px; 
    height: 439px;
}
.activites-card .card-title{
    padding-left: 15px;
}

/*footer*/
footer{
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 20px;
}
.page-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--main-bg-color);
}
.info-footer{
    flex: 1;
}
.info-footer li{
    margin: 10px 0;
}
.info-footer ul{
    list-style: none;
    padding: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 769px) and (max-width: 1024px){
    body {
        margin: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards .card-content{
        padding-left: 5px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .navbar{
        gap: 50px;
    }
    .filter{
        flex-direction: column; 
    }
    .filterbar{
        height: 50px;
    }
    footer{
        margin: 0;
        padding: 0;
    }
    .activites-card img{
        height: 200px;
    }
    .activites-card .card{
        height: 270px;
    }
    .activites-card .card-content{
        height: 70px;
        display: flex;
        align-items: center;
        margin-top: -5px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    body {
        margin: 0;
    }
    .main-container{
        padding: 0;
    }
    header {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .logo{
        display: flex;
        justify-content: center;
        padding: 30px 30px 30px 30px;
    }
    .navbar{
        justify-content: center;
        text-align: center;
        height: 36px;
        width: 100%;
    }
    .navbar_btn{
        flex: 1;
        border-bottom-color: var(--main-bg-color);
    }
    .navbar p{
        text-align: center;
        margin: 0;
    }
    .navbar_btn:hover {
        border-bottom-color: var(--main-color);
        border-top: 0;
        color: var(--main-color);
    }
/* info group */
    .info-group{
        margin: 30px 20px 0px 20px;
    }
    .info-group h2{
        font-size: 22px;
        margin: 0;
    }
    .search-bar{
        justify-content: center;
    }
    .search-bar .recherche i{
        display: inline;
        justify-content: center;
        align-items: center;
    }
    .search-form button{
        width: 49px;
        height: 49px;
        margin-left: -10px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        box-shadow: 0 4px 4px grey;
    }
    .search-form input{
        border-right: transparent;
    }
    .search-form button span{
        display: none;
    }
/*filter bar */
    .filterbar{
        justify-content: center;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        column-gap: 10px;
    } 
    .filter{
        flex-direction: column;
    }   
    .filter h2{
        margin: 0;
    }
    .filterbar button{
        height: 50px;
        flex: 1 0 45%;
        font-size: 14px;
    }
/* info bar*/
    .infobar i::before{
        width: 4px;
    }  

/*les plus populaires et hebergements*/
    .hebergements-and-populaires{
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section{
        border-radius: 0%;
        padding: 20px;
    }
    .populaires{
        margin: 0;
        width: 100%;
    }
    .populaires-cards{
        flex-direction: column;
    }
    .populaires-cards a{
        width: 100%;
    }
    .hebergements{
        width: 100%;
    }
    .hebergements-and-populaires .hebergements{
        background-color: #FFFFFF;
    }
    .hebergements-cards{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
/* activités à Marseille */
    .activites{
        margin: 0;
    }
    .activites-card{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .activites-card .card{
        height: 200px;
    }
    .activites-card img{
        height: 141px;
    }
/* footer */  
  footer{
    margin: 0;
    padding: 0;
  }
  .page-footer{
    justify-content: space-between; 
    flex-direction: column;
 }
}
